{% load staticfiles %}

<div id="trezor-root"></div>

<script>
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');


    function post(path, params, method) {
        method = method || "post"; // Set method to post by default if not specified.

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for (var key in params) {
            if (params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);
                form.appendChild(hiddenField);
            }
        }

        var csrfField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "csrfmiddlewaretoken");
        hiddenField.setAttribute("value", csrftoken);
        form.appendChild(csrfField)

        document.body.appendChild(form);
        form.submit();
    }


    function trezorLoginCallback(result) {
        if (result.success) {
            post("{{callback}}", {
                "public_key": result.public_key,
                "signature": result.signature,
                "version": 2
            });
        } else {
            console.error('Error:', result.error);
        }
    }
</script>
<trezor:login callback="trezorLoginCallback"
              challenge_hidden="{{ trezor_data.challenge_hidden }}"
              challenge_visual="{{ trezor_data.challenge_visual }}"
              text="Sign in with TREZOR"
              icon="{% static 'trezor/img/trezor_button.png' %}"></trezor:login>

<script src="{% static 'trezor/js/connect.js' %}"></script>
